extends ./layouts/default.pug
block title
    title  koa电影预告项目
block content
    .container
        .content
            .row
                - for (var x = 0; x < data.length; x++)
                    .col-md-3
                        .card
                            div.card_img_box
                                img.card-img-top(src= 'lazy.jpg',
                                data-src = `${data[x]['image_save_path']}`,
                                data-video='https://www.iyou.ink/iyou/public/static/index/images/nav-pc.webm ')
                            div.card-body
                                h4.card-title(data-trailer = `${JSON.stringify(data[x]['trailers'])}`) #{data[x]['title']}
                                p.card-desc(data-vidio = `${data[x]['video_save_path']}`) #{data[x]['summary']}
                                div.pop_up_window  #{data[x]['summary']}
                            div.card-footer
                                small.text-muted 更新于 #{data[x]['pubdate']}
                        div.bottom_margin
    #fixed_background
    #details
        .content_box
            #video_part
                p#video_title #{data[0]['title']}
                video#video_src(src=`https://www.iyou.ink/iyou/public/static/index/images/nav-pc.webm`,
                        controls,
                        autoplay)